[MESSAGES CONTROL]

disable=
    bad-continuation,
    bad-whitespace,
    invalid-name,
    no-else-return,
    superfluous-parens,
    too-few-public-methods,
    trailing-newlines,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,


